<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>nammaMart</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">nammaMart</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In/sign up</a>
        </div>
      </header>
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/beet root.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>beet root</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="weight">1 KG</div>
                <div class="price">₹150</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/pumpkin.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>pumpkin</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="weight">1 KG</div>
                <div class="price">₹120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/cucumber.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>cucumber</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="weight">1 KG</div>
                <div class="price">₹135</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/potato.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>potato</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="weight">1 KG</div>
                <div class="price">₹95</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/tomato.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>tomato</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="weight">1 KG</div>
                <div class="price">₹110</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/radish.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>radish</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="weight">1 KG</div>
                <div class="price">₹135</div>
              </div>
            </div>
            <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/cauliflower.png" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>cauliflower</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="weight">1 KG</div>
                  <div class="price">₹78</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/onion.png" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>onion</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="weight">1 KG</div>
                  <div class="price">₹160</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/corn.png" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>corn</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="weight">1 KG</div>
                  <div class="price">₹63</div>
                </div>
              </div>

          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>